<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TI-UMY</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Data KTP</div>
        <hr />
        <p th:text="${dataktp}"></p>
        <table border="2">
            <tr th:each ="kolom:${table}">
                <td th:text="${kolom[0]}"></td>
                <td th:text="${kolom[1]}"></td>
                <td th:text="${kolom[2]}"></td>
                <td th:text="${kolom[3]}"></td>
            </tr>   
        </table>
    </body>
</html>
